.cdx-footnote {
    display: inline-block;
    font-family: courier;
    background-color: #dedede;
    padding: 5px, 5px;

    &:before {
        content:"[^";
    }

    &:after {
        content:"]";
    }
}

