.cdx-footnote {
    display: inline-block;
    font-family: courier;
    background-color: #dedede;
    padding: 5px, 5px;

    &:before {
        content:"[^";
    }

    &:after {
        content:"]";
    }
}

.cdx-footnote-block {
    background-color: #f9f0d0;

    .fnb-label {
        color: #999999;
    }

    .fnb-content {
        min-height: 100px;
        border: 1px solid #999999;

    }
}

